html, body {
   margin:0;
   padding:0;
   height:100%;
}

footer {        
    clear: both;
    width:100%;            
    padding: 1rem;
    background-color: #efefef;
    text-align: center;    
}

#footerText {
    color: black !important;
    text-decoration: bold !important;
}

#mapLink {    
    color: blue;
}

#mapLink:hover {
    text-decoration: underline;
    font-weight: bold;
    color: orange;
    cursor: pointer;
}

#map {
    height: 95%;
    width: 95%;
    margin: 0 auto;
}

#searchingMap {    
    height: 50%;
    width: 40%;
    margin: 0 5% 2.5%;
    float: left;    
}

#labelIntruction {
margin: 0 15%;
}

.modal-lg {
    max-width: 85% !important;    
}

.modal-dialog {
    height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
}
.modal-content {
    height: 100%; /* = 100% of the .modal-dialog block */
}

.slidecontainer {
    text-align: center;
}

#table_id {
    width: 100%;
}

#divViolationsMap {
    min-height: 200px;
}